.input-error {
    border-color: red !important;
    .form-control {
        border-color: red !important;
    }
}

label {
    font-size: 90%;
    margin-bottom: 0.25rem;
    color: rgba($color: #999, $alpha: 1)
}

.form-control {
    border-color: #eee;

    &:focus,
    &:hover {
        box-shadow: none;
        border-color: #5dd1ff;
    }
}

.error {
    color: red;
    font-size: 80%;
    margin-top: 3px;

    .icon {
        color: #fff;
        background-color: red;
        border-radius: 50%;
        letter-spacing: 0.45rem;
        padding-left: 0.45rem;
    }

    .message {
        padding-left: 0.3rem;
    }
}