.bookings {
	.heading {
		padding: 2rem 0rem;
		color: #000000;
		padding-bottom: 2rem;
		// border-bottom: 2px solid #eee;
		margin-bottom: 1rem;
	}
	.content {
		h4 {
			font-weight: 400;
			color: rgba($color: #000000, $alpha: 0.7);
			margin-bottom: 1rem;
			text-align: center;
		}
		.tab-content {
			margin: 2rem 0rem;
		}
		.nav {
			&.nav-tabs {
				border: none;
				.nav-item {
					.nav-link {
						transition: 250ms;
						font-size: 1.2rem;
						color: rgba($color: #000000, $alpha: 0.8);
						text-transform: uppercase;
						border-radius: 0px;
						border: none;
						border-bottom: 2px solid rgba($color: #000000, $alpha: 0.05);
						cursor: pointer;
						&:hover {
							border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);
						}
						&.active {
							border-bottom: 2px solid #00aeef;
						}
					}
				}
			}
		}
	}
}
