@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/opensans-regular/OpenSans-Regular.eot');
    src: local('Open Sans'),
        local('Open Sans'),
        url('../fonts/opensans-regular/OpenSans-Regular.eot#iefix') format('embedded-opentype'),
        url('../fonts/opensans-regular/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/opensans-regular/OpenSans-Regular.woff') format('woff'),
        url('../fonts/opensans-regular/OpenSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;

    a {
        color: #222222;

        &:hover {
            color: #000000;
        }
    }
}

section {
    margin-top: 82px;
}

.btn {
    border: none !important;
    border-radius: 0px !important;
}

.btn-primary {
    background-color: #00aeef;

    &:hover {
        background-color: #0096ce;
    }
}

.card {
    border-radius: 0px;
    margin-bottom: 1.5rem;
    border: none;
    border-bottom: 4px solid #eee;

    &:hover {
        border-bottom-color: #ddd;
    }

    .card-footer {
        background-color: transparent;
    }
}

.form-control {
    border-color: #eee;

    &:focus,
    &:hover {
        box-shadow: none;
        border-color: #5dd1ff;
    }
}

.input-error {
    border-color: red;
}

.error {
    color: red;
    font-size: 80%;
    margin-top: 3px;

    .icon {
        color: #fff;
        background-color: red;
        border-radius: 50%;
        letter-spacing: 0.45rem;
        padding-left: 0.45rem;
    }

    .message {
        padding-left: 0.3rem;
    }
}


@media (min-width: 1600px) {
    .container {
        max-width: 1280px;
    }
}