.dashboard {

    .heading {
        padding: 2rem 0rem;
        color: #000000;
        padding-bottom: 2rem;
        border-bottom: 2px solid #eee;
        margin-bottom: 1rem;

        h3 {
            font-weight: 300;
            text-align: center;
        }
    }

    .content {
        padding-bottom: 4rem;
        
        .card {
            border-radius: 0px;
            margin-bottom: 1.5rem;
            border: none;
            border-bottom: 4px solid #eee;
            &:hover {
                border-bottom-color: #ddd;
            }
            .card-footer {
                background-color: transparent; 
            }
        }
    }
}