@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav {
        position: absolute;
        right: 10px
    }
    .top-menu {
        top: 20px;
    }
    .bottom-menu {
        top: 50px;
    }
    .splitter {
        border-right: 1px solid rgba(204, 204, 204, 0.38);
    }

    .appointment-list {
        min-width: 500px;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 1280px;
    }
}

@media (max-width: 768px) {
    .home-page-main-content .list .list-item:last-child {
        margin-bottom: 2rem;
    }
    .provider-card .col-md-8 {
        background-color: transparent;
    }
}