.labourlist-styling {
  .btn-outline-secondary {
    &:hover {
      color: #6c757d;
      background: transparent;
    }
    &:focus {
      box-shadow: none;
    }
    &:active {
      box-shadow: none;
    }
  }

  // custom checkbox css
  .Checkbox {
    width: 20px;
    height: 20px;
    position: relative;

    > * {
      position: absolute;
    }

    &-visible {
      border: 1px solid gray;
      width: 16px;
      height: 16px;
      margin: 20px 65px;
      background: #fff;
      border: 1px solid rgba(134, 131, 131, 0.49);
      border-radius: 3px;
    }

    > input {
      z-index: 1;
      opacity: 0;
      left: 50%;
      top: 50%;
      transform: translatex(-50%) translatey(-50%);
      margin: 20px 65px;
      display: block;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }

    > input:checked + .Checkbox-visible {
      background: #00aeef;
      border-color: #00aeef;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMTQnIGhlaWdodD0nMTQnIHZpZXdCb3g9JzAgMCAxNCAxNCcgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48dGl0bGU+d2hpdGU8L3RpdGxlPjxwYXRoIGQ9J001LjM3OCAxMS4zN0wyIDcuNTlsMS40MzgtMS4yODZMNS4zNzQgOC40N2w1LjE4NS01Ljg0TDEyIDMuOTFsLTYuNjIyIDcuNDYnIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
    }
    > input:hover + .Checkbox-visible {
      border-color: hsl(0, 0, 80%);
    }
    > input:hover:checked + .Checkbox-visible {
      border-color: #0ca750;
    }
    > input:focus + .Checkbox-visible {
      border-color: #00aeef;
    }
  }  
}

.alert-wrap {
  left: 15px;
  position: absolute !important;
  bottom: -8px;
}
