.work-flow-block {
    padding: 4rem 0rem 6rem;
    background-color:rgba(0, 175, 239, 0.603);
    color: #FFFFFF;
}

.work-flow-block::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('./../../../assets/img/cleaner-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.work-flow-block .col-md-4:first-child {
    padding-left: 30px;
}
.work-flow-block .col-md-4:last-child {
    padding-right: 30px;
}

.work-flow-block>.heading {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    margin-bottom: 3rem;
}

.work-flow-block .inner-block {
    margin-top: 1rem;
    padding: 2rem 1rem 1rem 1rem;
    background-color: rgba(255,255,255, 0.85);
    color: #000000;
}

.work-flow-block .inner-block .heading {
    text-align: center;
}

.work-flow-block .inner-block .heading img {
    width: 5rem;
    margin-bottom: 2rem;
}

.work-flow-block .inner-block .body ul {
    padding: 0rem 1.2rem; 
}

.work-flow-block .inner-block .body ul li {
    font-size: 1.2rem;
    font-weight: 300;
    list-style: none;
    padding-bottom: 0.5rem;
}