.Banner {
    background-image: url('./../../assets/img/cleaner-bg.jpg');
    position: relative;
    z-index: 2;
    background-size: cover;
    background-attachment: fixed;
    color: #FFFFFF;
}

.Banner .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 6rem 0rem;
}

.Banner::before{
    position: absolute;
    z-index: -1;
    width: 100%;
    content: " ";
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2)
}

.Banner h2, .Banner h4 {
    font-weight: 300;
}

.Banner .btn-primary {
    background-color: #FFFFFF;
    color: #333333;
    margin: 1rem;
    padding: 1rem 3rem;
    font-size: 1.125rem;
}